.categories{

}

.categories__item{
    list-style: none;
}

.categories__item-link{
    display: block;
    list-style: none;
    padding: 10px 20px;
    margin:10px 0;
    border:1px solid green;
    border-radius:4px;
    cursor:pointer;
}

.categories__item--selected .categories__item-link{
    background: green;
    color:#fff;
}