.toggles{}

.toggles__sizes{
    margin:0 0 30px 0;
}

.toggles__size{
    display: inline-block;
    list-style: none;
    padding: 10px 20px;
    margin:10px;
    border:1px solid green;
    border-radius:4px;
    cursor:pointer;
}

.toggles__size--selected {
    background: green;
    color:#fff;
}

.toggles__filters{
    margin:0 0 30px 0;
}

.toggles__filter{
    display: inline-block;
    list-style: none;
    padding: 10px 20px;
    margin:10px;
    border:1px solid green;
    border-radius:4px;
    cursor:pointer;
}

.toggles__filter--selected {
    background: green;
    color:#fff;
}