.app{
    padding: 30px;
}


.app__wrap{
    max-width: 1200px;
    margin: 0 auto;
}

.app__row{
    display: flex;
}


.app__left, .app__right{
    padding:15px;
}

.app__left{
    flex: 0 0 300px;
}

.app__right{
    width:100%;
}